body {
  background-color: gray;
  color: white;
  background-repeat: no-repeat;
  background-position: top center;
}
a {
  color: white;
}
.row-pad {
  margin-top: 400px;
}
.icon-style {
  font-size: 2em;
  color: white;
}
.row-marg {
  margin-top: 10px;
}
